.shop-container {
    text-align: center;    
    background-color: rgb(216, 195, 243) ;
    
}

.shop-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    
}

@media screen and (max-width: 768px) {
    .shop-image-container {
         display: grid;     
        justify-content: center;
        align-content: center;
        margin: 2rem;
    }
    
}



.shop-container h1 {
    margin-bottom: 64px;
    
}

.shop-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(50px, auto);
    margin: 0 auto;    
    min-width: 100%;
    padding: 0 32px;
    
 }

 @media screen and (max-width: 768px) {
    .shop-grid {
         display: grid;     
        justify-content: center;
        align-content: center;
        margin-left: 2rem;
    }
    
}