.shop-container {
    text-align: center;    
    background-color: rgb(216, 195, 243) ;
}

.shop-container h1 {
    margin-bottom: 64px;
    
}

.shop-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(50px, auto);
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 0 32px;
 }